.backgg{
    background-color: #2C3E50 !important;
    padding: 30px !important;
}
.navHome{
    font-size: 32px !important;
    font-weight: 700 !important;
    color:rgb(255, 255, 255)
!important ;
}
.navSec{
    font-size: 16px !important;
    font-weight: 700 !important;
    color:rgb(255, 255, 255)
!important ;
}
