body{
    background-color: black !important;
}

.not4{
    color: white !important;
    font-size: 150px;
    border: 3px solid white;
    padding: 10px 100px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 2px white;
    
}