.AbCon{
 background-color: #1ABC9C !important;

}
.headA{
padding-top: 250px !important;

}
.divider {
  padding: 20px 0 !important;
}

.divider .line {
  width: 100px !important;
  height: 5px !important;
  background-color: #fff !important;
}

.divider i {
  color: #fff !important;
  font-size: 20px !important;
}