.backgg{
    background-color: #1A252F !important;
    padding: 30px !important;
    color: white !important;
}
.backgg1{
    background-color: #2C3E50 !important;
}
.cobn{
padding: 80px !important;
}
.foHead{
    font-size: 28px !important;
    font-weight: 500;
    color: #fff !important;
    margin-bottom: 10px !important;
}
.foLi{
    font-size: 16px !important;
    font-weight: 400;
    color: #fff !important;
    text-decoration: none ;
}
